body { background: #BBDEFB; font-family: Arial; margin: 0; }
.header { text-align: center; padding: 20px; }
.logo { width: 140px; margin: auto; display: block; }
.header h1 { color: #0D47A1; margin-top: 10px; }
.content { width: 90%; margin: auto; padding: 20px; }

.btn, .chart-btn, .back-btn {
    padding: 10px 20px; border-radius: 6px; text-decoration: none; color: white;
    display: inline-block; margin-bottom: 15px; margin-right: 10px;
}
.btn { background: #0D47A1; }
.chart-btn { background: #004BA0; }
.back-btn { background: #004BA0; }

.edit-btn { background: #1565C0; color: white; padding: 6px 12px; border-radius: 5px; }
.delete-btn { background: #D32F2F; color: white; padding: 6px 12px; border-radius: 5px; }

.search-box { margin-bottom: 20px; display: flex; justify-content: flex-end; }
#searchInput { padding: 10px; width: 250px; border-radius: 6px; border: 1px solid #0D47A1; }

table {
    width: 100%; background: white; border-collapse: separate; border-spacing: 0;
    border-radius: 10px; overflow: hidden; border: 2px solid #0D47A1;
}
th {
    background: #0D47A1; color: white; padding: 12px; cursor: pointer;
    border-right: 1px solid white; user-select: none;
}
td {
    padding: 12px; border-top: 1px solid #90CAF9; border-right: 1px solid #64B5F6;
}

th:last-child, td:last-child { border-right: none; }

form { background: white; padding: 20px; border-radius: 10px; }
input {
    width: 100%; padding: 10px; border-radius: 6px;
    margin-bottom: 10px; border: 1px solid #64B5F6;
}

